.form-group{
    width: 75%;
    padding: 50px 30px;
}
.form-control{
    min-width: 108px;
    max-width: 198px;
}
#center{
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}