<!DOCTYPE html>
<html>
 <head>
   <title>Temperature Lookup</title> 
   </head>
   <body>
   
  <form action = "http://192.168.0.10:80" method="post">
  
	<label for= "Start Date"> Start Date: </label><br> 
  <input type="date" name="startDate" size = "40" id = "startDate">
  
  <br>
  
   <label for= "End Date"> End Date: </label><br> 
  <input type="date" name="endDate" size = "40" id = "endDate">
  
   <br><br>
	<input type="submit" value="Submit">
	</form>
	</body>
	</html>